<div class="callout callout--primary">
  <div class="grid grid--1x2">
    <div class="callout__content">
      <h2 class="callout__heading">Ready to Get Started?</h2>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Similique
        cupiditate totam, voluptates nihil magni aliquam, repellat perferendis
        iste, quis sit dolore quod expedita dolor eos labore voluptatibus quas
        consequuntur facilis!
      </p>
    </div>
    <a href="#" class="btn btn--secondary btn--stretched">Get Started</a>
  </div>
</div>
